body {
    font-family: "Playfair Display", serif;
    font-family: "Manrope", sans-serif;
    margin: 0;
}

.container {
    max-width: 1500px;
    margin: 0 auto;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    padding: 40px 0 40px;
}

.header-info {
    display: flex;
    gap: 46px;
}

.header-logo {
    display: flex;
    align-items: center;
    gap: 9px;
}

.header__phone {
    display: flex;
    align-items: center;
    gap: 9px;
}

.header__nav {
    margin-left: auto;
    display: flex;
    gap: 20px;
}

.header-title {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 28px;
    font-weight: 700;
    line-height: 125%;
    margin: 0;
}

.header__number-link {
    color: #141414;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 600;
    line-height: 125%;
    letter-spacing: -0.18px;
    text-decoration: none;
}

.header__nav-link {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 125%;
    text-decoration: none;
    transition: color 0.2s linear;
}

.header__nav-link:hover {
    color: #668992;
}

.header-button {
    color: #fff;
    background: #7a9ca5;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    border: none;
    display: flex;
    padding: 16px 33px;
    gap: 10px;
}

.hero {
    background: linear-gradient(to right, #ebf3f5 53%, #323546 47%);
    padding: 200px 0;
}
.hero-info {
    max-width: 510px;
}

.hero__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
.hero__small-title {
    color: #5c8692;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 12px;
}

.hero-title {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 70px;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: -0.7px;
    margin: 0;
}

.hero-text {
    color: #555;
    font-family: "Manrope";
    font-size: 19px;
    font-weight: 400;
    line-height: 170%;
    margin: 0;
    padding: 24px 0 34px;
}

.hero-button {
    display: flex;
    padding: 23px 36px 24px 36px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #5c8692;
    border: none;
    color: #fff;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
}

.hero__img-wrap img {
    max-width: 532px;
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
}

.card__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 108px;
    padding: 150px 0;
}

.card-info {
    max-width: 327px;
}

.card-title {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
}

.card-text {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0.36px;
}

.card-button {
    color: #141414;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    border: 2px solid #5c8692;
    text-transform: uppercase;
    padding: 18px 43px 19px 43px;
}

.article {
    background: #ebf3f5;
}

.article__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 138px;
    padding: 150px 0;
}

.article-info {
    max-width: 529px;
}

.article__small-text {
    color: #5c8692;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
}

.article-title {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
    margin: 0;
    padding: 9px 94px 16px 0;
}
.article-text {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 165%;
    margin: 0;
    padding: 0 0 37px 0;
}
.article__cards {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11px;
}
.article__card {
    max-width: 165px;
    text-align: center;
    border: 1px solid #7a9ca5;
    background: #fff;
    padding: 17px 33px 19px 33px;
}
.article__card-title {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}

.popular__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    padding: 0 0 0;
}

.popular__middle-title {
    padding: 128px 0 50px 0;
}
.popular__small-title {
    text-align: center;
    color: #5c8692;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
    padding: 0 0 9px 0;
}
.popular-title {
    color: #141414;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
    margin: 0;
}
.popular-info1 {
    display: flex;
    max-width: 530px;
    padding: 0 0 124px 0;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    gap: 30px;
}
.popular-info2 {
    display: flex;
    max-width: 530px;
    padding: 0 0 124px 0;
    align-items: center;
    flex-shrink: 0;
    flex-direction: column;
    gap: 30px;
}

.popular__face-masks1 {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    margin: 0;
}
.popular__face-masks2 {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0.36px;
    margin: 0;
}

.popular-button {
    color: #141414;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: flex;
    padding: 23px 34px 24px 34px;
    border: 2px solid #5c8692;
}

.article__card-image {
    box-shadow: 0px 20px 60px 0px rgba(47, 68, 73, 0.46);
}

.customers {
    background: #edf5f7;
}

.customers-title {
    padding: 160px 0 40px 0;
}

.customers__small-text {
    color: #5c8692;
    text-align: center;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
}

.customers__middle-title {
    color: #141414;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
    margin: 0;
}

.customers__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.customers-card-title {
    display: flex;
    padding: 44px 44px 44px 49px;
    max-width: 485px;
    flex-direction: column;
    align-items: flex-start;
    background: #fff;
    color: #141414;
    font-family: "Manrope";
    font-size: 19px;
    font-weight: 400;
    line-height: 180%;
    margin: 0;
}

.customers__middle-card {
    background: #1e2c30;
    max-width: 582px;
    margin: 0 0 160px 0;
}

.customers__middle-info {
    display: flex;
    align-items: center;
}
.customers-img {
    max-width: 190px;
    padding: 25px 25px;
}

.big-desc {
    color: #fff;
    font-family: "Playfair Display";
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    letter-spacing: -0.2px;
    margin: 0;
}
.small-desc {
    color: #fff;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    letter-spacing: 0.42px;
    margin: 0;
    padding: 0 240px 0 0;
}

.actually-title {
    padding: 170px 0 0 0;
}
.actyally__small-text {
    color: #5c8692;
    text-align: center;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}
.actually__middle-title {
    color: #141414;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
}

.actually__content1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
}
.actually__content2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 105px;
    padding: 40px 0 0 0;
    margin: 0 0 140px 0;
}

.actually-info {
    display: flex;
    width: 330px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}
.actually__content-text {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 165%;
    letter-spacing: 0.36px;
    margin: 0;
}

.actually__content-title {
    color: #141414;
    font-family: "Playfair Display";
    font-size: 26px;
    font-weight: 700;
    line-height: 120%;
    margin: 0;
}
.claim {
    background: #edf5f7;
}

.claim__content {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 132px 0;
}
.claim-info {
    display: flex;
    max-width: 534px;
    flex-direction: column;
    align-items: flex-start;
    gap: 37px;
    flex-shrink: 0;
}
.claim-card {
    max-width: 455px;
    height: 145px;
}

.claim-tablet {
    max-width: 550px;
}
.claim-text {
    color: #5c8692;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin: 0;
}
.claim-title {
    color: #141414;
    font-family: Playfair Display;
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
    margin: 0;
}

.claim-desc {
    color: #555;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 175%;
    margin: 0;
}

.updates-title {
    padding: 170px 0 0 0;
}

.updates__small-text {
    color: #5c8692;
    text-align: center;
    font-family: "Manrope";
    font-size: 15px;
    font-weight: 600;
    line-height: 154.5%;
    letter-spacing: 1.5px;
    text-transform: uppercase;
}

.updates__middle-title {
    color: #141414;
    text-align: center;
    font-family: "Playfair Display";
    font-size: 45px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: -0.45px;
}
.updates__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.updates-info {
    display: flex;
    gap: 40px;
}

.updates-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0 150px 0;
}

.updates-btn {
    color: #141414;
    text-align: center;
    font-family: "Manrope";
    font-size: 14px;
    font-weight: 800;
    line-height: 125%;
    letter-spacing: 1.68px;
    text-transform: uppercase;
    display: flex;
    padding: 23px 41px 24px 41px;
    border: 2px solid #5c8692;
}

.footer {
    background: #1e2c30;
    padding: 78px 0 0;
}
.footer_block {
    display: flex;
    padding: 45px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}
.footer_block1 {
    display: flex;
    padding: 45px 0;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    flex-shrink: 0;
}

.footer_blocks {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0 100px;
    margin: 0;
}

.footer_block-title {
    color: #fff;
    font-family: "Playfair Display";
    font-size: 22px;
    font-weight: 700;
    line-height: 140%;
    margin: 0;
}
.footer_block_nav-title {
    font-family: "Manrope";
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 150%;
    letter-spacing: -0.17px;
    margin: 0;
}
.footer_block_nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.footer_block_nav-link {
    color: #fff;
    font-family: "Manrope";
    text-decoration: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 200%;
    letter-spacing: -0.17px;
    margin: 0;
}

.footer__social-link {
    display: flex;
    flex-direction: row;
    gap: 50px;
}
.footer__social-link img {
    padding: 18px 18px;
    border: 2px solid #5c8692;
}
.footer-logotitle {
    color: #fff;
    font-family: "Playfair Display";
    font-size: 40px;
    font-weight: 700;
    line-height: 125%;
    letter-spacing: 0.8px;
    margin: 0;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.footer-logo img {
    max-width: 65px;
    height: 65px;
}

.footer__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0 40px 0;
}

.footer_end {
    display: flex;
    justify-content: center;
    background: #111e22;
    padding: 15px 0;
}

.footer_end span {
    color: #fff;
    font-family: "Manrope";
    font-size: 18px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: -0.18px;
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 730px) {
    .header__phone {
        display: none;
    }
    .footer__social-link {
        display: none;
    }
    .footer__content {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media screen and (max-width: 1034px) {
    .hero-title {
        font-size: 60px;
    }
    .footer_blocks {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer_block1 {
        display: none;
    }
}

@media screen and (max-width: 1237px) {
    .header__nav {
        display: none;
    }
}

@media screen and (max-width: 1269px) {
    .popular__content {
        display: flex;
        flex-direction: column;
    }
    .popular-info2 {
        display: none;
    }
    .customers__content {
        display: flex;
        flex-direction: column;
    }
    .actually__content1 {
        display: flex;
        flex-direction: column;
    }
    .actually__content2 {
        display: flex;
        flex-direction: column;
    }
    .claim__content {
        display: flex;
        flex-direction: column;
    }
    .updates-info {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 1400px) {
    .hero {
        background: #ebf3f5;
    }
    .hero__content {
        display: flex;
        flex-direction: column;
    }
    .card__content {
        display: flexbox;
        flex-direction: column;
    }
    .article__content {
        display: flex;
        flex-direction: column;
    }
}
